.page-br {
    margin: 4.5rem auto;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $light-grey;
    padding: 0;
}

a {
    color: $text-black;
}

.button {
    display: block;
    text-decoration: none;
    color: $text-black;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 300;
    width: fit-content;
    background-color: $color-creme;
    padding: 1rem 2rem;
    border: 1px solid $color-creme-hover;
    border-radius: 7px;
    margin: 2.5rem auto;
    transition: .1s ease-in-out;

    &:hover {
        background-color: $color-creme-hover;
        cursor: pointer;
    }
}

.front-page-section-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap:wrap-reverse;
    row-gap: 2rem;
    

    &__description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        max-width: 500px;

        & > .title {
            font-size: 1.75rem;
        }

        & > .content {
            color: $text-grey;
            line-height: 150%;
        }

        & > .button {
            margin: 1.5rem 0;
        }
    }

    &__image {
        display: block;
        height: 100%;
        object-fit: cover;
        object-position: center;
        max-height: 387px;
        border-radius: 10px;

        &--gallery {
            max-width: 105px;
            height: 200px;
        }
    }
}

