.timeline {

    &__title {
        font-size: 2rem;
        margin-bottom: 3.75rem;
    }

    &__wrapper {
        cursor: grab;
    }

    &__item {
        display: flex !important;
        flex-direction: column;
        height: 200px !important;
        width: 300px !important; 
        margin-right: 1.5rem !important;
        background-color: $color-creme;
        border-radius: 8px;
        padding: 2rem;
        gap: 10px;

        & > strong {
            font-size: 1.375rem;
            text-transform: uppercase;
            font-weight: 600;
        }

        & > p {
            font-size: 1.25rem;
            color: $text-grey;
            font-weight: 300;
        }
    }
}