@import '/css/abstracts/variables';


.gallery-page {

    &__title {
        font-size: 3rem;
        font-weight: 900;
        line-height: 120%;
    }

    &__content {
        color: $text-grey;
        font-size: 1.2rem;
        line-height: 150%;
        max-width: 770px;
        font-weight: 300;
    }
}

.buttons-wrapper {
    display: block;
    width: 300px;
    height: 40px;
    padding: 5px;
    background-color: $color-creme;
    border-color: $color-creme-hover;
}

.photos-wrapper {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  margin: 2rem auto;
  min-height: 550px;
  position: relative;

  &__frame {
    position: relative;
    overflow: hidden;
  }

  &__photo {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 200px;
    cursor: pointer;
    transition: .2s ease;
    position: relative;

    &:active {
      width: 400px;
    }

    &:hover {
      box-shadow: inset 0 0 10px;
    }
  }
}

.lightbox-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100svw;
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #30303072;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;

    & .lightbox {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
        font-size: 16px;
        color: #fff;
      }

      &__image {
        width: 100%;
        max-width: 1000px;
        height: auto;
        max-height: 80vh;
        object-fit: contain;
      }
  }

  .visible {
    visibility: visible;
    opacity: 1;
  }

 