@import '/css/abstracts/variables';

.memories-page {
    &__title {
        font-size: 3rem;
        font-weight: 900;
        line-height: 120%;
    }

    &__content {
        color: $text-grey;
        font-size: 1.2rem;
        line-height: 150%;
        max-width: 770px;
        font-weight: 300;
    }
}

.memories-list {
    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-bottom: 4rem;
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &__title {
            font-size: 2rem;
        }
        
        i {
            font-size: 1.25rem;
            line-height: 150%;
            font-weight: 300;
        }

        .sign {
            align-self: right;
            font-size: 1.25rem;
            font-weight: 600;
        }

        &::marker {
            display: block;
        }
    }
}
