@import '/css/abstracts/variables';

.souvenirs-page {
    &__title {
        font-size: 3rem;
        font-weight: 900;
        line-height: 120%;
    }

    &__content {
        color: $text-grey;
        font-size: 1.2rem;
        line-height: 150%;
        max-width: 770px;
        font-weight: 300;
    }
}

.souvenirs-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 2rem;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        gap: 20px;

        &-buttons-wrapper {
            display: flex;
            gap: 15px;
        }
    }
}